@using BookLibrary
@model BookItem
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>Edit Book Details</h1>
	<table border="1" cellpadding="8">
	<form action="hybrid:SaveBookDetails" method="GET">
	<input name="id" type="hidden" value="@Model.Id" />
		<tr>
		<td>Title:
		<input name="Title" value="@Model.Title" /></td>
		<tr>
		<td>Author:
		<input name="Author" value="@Model.Author" /></td>
		<tr>
		<td>Book ISBN:
		<input name="ISBN" value="@Model.Isbn" /></td>
		<tr>
		<td>Synopsis:
		<textarea name="Synopsis" rows="5" cols="40">
   		@Model.Synopsis
   		</textarea></td>
		<tr>
		<td colspan="8">
		<input type="submit" name="Button" value="Save"/>
		<input type="submit" name="Button" value="Cancel"/>
		@if (Model.Id > 0) {
		<input type="submit" name="Button" value="Delete"/>
		}
		</td>
		</tr>
	</form>
</table>
</body>
</html>